.link {
    text-decoration: none;
    background-color: beige;
    display: flex;
    text-align: left;
    border-bottom: 2px solid rgb(250, 250, 250);
    padding: .5em .5em .5em 2em;
}
.link a{
    text-decoration: none;
    font-weight: 600;
    color: black;
}
.link .index{
    margin-right: .4em;
    color: gray;
}
.link .info {
    color: gray;
    font-size: 12px;
}
.link .uparrow, .link .arrowspace {
    width: 10px;
    margin: .4em .2em .2em .2em;
}

.link .uparrow {
    background-color: rgb(192, 192, 192);
    height: 10px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    cursor: pointer;
}
