
.number {
    display: inline-block;
    padding: .6em;
    border: 1px solid black;
    margin: 0 .3em .3em 0;
    border-radius: 4px;
    cursor: pointer;
}

.number.selected {
    background-color: rgb(22, 48, 78);
    color: white;
}